*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 600px;
    width: 300px;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #06D6A0;
    display: flex;
    flex-direction: column;
}

.news{
    width: 100%;
    height: 80px;
    background-color: #0CA4A5;
    border-radius: 8px;
    margin-bottom: 2px;
}

.news-box{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer{
    width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 45px; 
    height: 47px;
    border-radius: 50%;
    border: 1px solid black;
}

.bottom-icons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    /* border: 5px solid black; */
}

.home{
    width: 30px;
    height: 30px;
}

.home-img{
    width: 100%;
    height: 100%;
}

.donation{
    width: 30px;
    height: 30px; 
}

.donation-img{
    width: 100%;
    height: 100%;
}